#----------------------------------------------------------------------------
# Copyright (C) 2024 Nuvoola AI, Inc.
# All rights reserved.
#
# CONFIDENTIAL AND PROPRIETARY INFORMATION!
#
# Disclosure or use in part or in whole without prior written consent
# constitutes an infringement of copyright laws which may be punishable
# by law.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESSED OR IMPLIED WARRANTIES
# INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY
# AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL
# THE LICENSOR OR ITS CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT
# NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
# DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
# THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
# (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
# THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#----------------------------------------------------------------------------


#----------------------------------------------------------------------------
# Define service name and port
#----------------------------------------------------------------------------
SERVICE_NAME="Jeach Battleship"
SERVICE_PORT=80


#----------------------------------------------------------------------------
# Should we enable and make use of an HTTP request logger.
# Currently using the 'morgan' middleware (https://www.npmjs.com/package/morgan)
#----------------------------------------------------------------------------
#HTTP_REQUEST_LOGGER=false
#HTTP_REQUEST_LOGGER_PATH=/
